* {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

a,
a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    cursor: pointer;
}

h1, h2, h3, h4, h5 {
    font-weight: 900;
}
