.instagramGallery {
    display: flex;
    flex-wrap: wrap;
}

.post {
    list-style-type: none;
    flex: 33%;
    display: flex;
    align-items: center;
    opacity: 0.6;
    transition: opacity .3s ease-in-out;
}

.post:hover {
    cursor: pointer;
    opacity: 1;
}

.post img {
    max-width: 100%;
    height: auto;
}

.modal {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.78);
    display: flex;
    justify-content: center;
    align-items: center;
}

.postContainer {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 25px 12px 50px rgba(0, 0, 0, 0.88);
    position: relative;
}

.mediaWrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mediaWrap img,
.mediaWrap video {
    width: 100%;
}

.postDetails {
    background-color: #fff;
    padding-top: 12px;
    color: #656565;
}

.location {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.locationIcon {
    margin-right: 5px;
}

.caption {
    margin: 0;
    font-weight: 100;
    line-height: 20px;
}

.postMeta {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

@media (min-width: 768px) {
    .post {
        flex: 16.66%;
    }

    .postContainer {
        width: 450px;
        padding: 20px;
        background-color: #fff;
        box-shadow: 25px 12px 50px rgba(0, 0, 0, 0.88);
    }
}