.closeIcon {
    position: absolute;
    right: -30px;
    top: -30px;
    cursor: pointer;
}

.arrowLeft,
.arrowRight {
    position: absolute;
    top: 46%;
    fill: #656565;
    background-color: rgba(255,255,255, 0.5);
    border-radius: 50%;
    transition: background-color 0.2s ease-in-out;
}

.arrowLeft:hover,
.arrowRight:hover {
    cursor: pointer;
    background-color: rgba(255,255,255, 1);
}

.arrowLeft {
    left: -80px;
}

.arrowRight {
    right: -80px;
}


